## Exercise 1

#### 1 Write a Python script to add a new key and items to a dictionary. 
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [24]:
Dic1 = {0: 10,1: 20}

In [18]:
Dic1

{0: 10, 1: 20}

In [19]:
type(Dic1)

dict

In [20]:
Dic1.keys()

dict_keys([0, 1])

In [25]:
Dic1[2]=30

In [26]:
Dic1

{0: 10, 1: 20, 2: 30}

#### 2. Write a Python script to concatenate following dictionaries to create a new one
 Sample Dictionary :
 dic1={1:10, 2:20}
 dic2={3:30, 4:40}
 dic3={5:50,6:60}
 Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [27]:
 dic1={1:10, 2:20}
 dic2={3:30, 4:40}
 dic3={5:50, 6:60}

In [29]:
dic4={**dic1,**dic2,**dic3}

In [30]:
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

#### 3. Write a Python script to sort (ascending and descending) a dictionary by value

In [18]:
marks={'tom':60,'michael':55,'Ammy':74,'Rajiv':87}

In [21]:
for z in marks.values():
    print(z)

60
55
74
87

In [22]:
sorted(marks.values())  #Ascending

[55, 60, 74, 87]

In [56]:
sort_marks = sorted(marks.items(), key=lambda x: x[1])  #Aescending

for i in sort_marks:
	print(i[0], i[1])

michael 55
tom 60
Ammy 74
Rajiv 87

In [78]:
sorted(marks.values(), reverse=True)  # Descending

[87, 74, 60, 55]

In [41]:
sort_marks = sorted(marks.items(), key=lambda x: x[1], reverse=True)  #Descending

for i in sort_marks:
	print(i[0], i[1])

Rajiv 87
Ammy 74
tom 60
michael 55

In [37]:
sort_marks_1 = sorted(marks.items(), key=lambda x: x[1], reverse=True)
print(sort_marks_1)

[('Rajiv', 87), ('Ammy', 74), ('tom', 60), ('michael', 55)]

#### 4.Write a Python program to sum all the items in a dictionary

In [23]:
new_marks={'tom':60,'michael':55,'Ammy':74,'Rajiv':87}

In [27]:
def return_sum():
    sum = 0

    for i in new_marks:
        sum = sum + new_marks[i]
    
    return sum

print(return_sum())

276

In [35]:
'''5. Print the second item in the fruits list.'''

fruits = ["apple", "banana", "cherry"]

In [37]:
print(fruits[1])

banana

In [39]:
'''6. For the list: Courses = [[‘Economics’, ‘Statistics’, ‘Mathematics’,’Political Science’],
[Grade A, Grade B, Grade B, Grade A],
[‘20 Students’,’21 Students’, ‘20 Students’, ‘21 Students’]]

Extract only Statistics 
Extract Mathematics and Political Science
Extract all Students List
Extract All Subjects and All Grade Lists
'''

Courses = [['Economics', 'Statistics', 'Mathematics','Political Science'],
['Grade A', 'Grade B', 'Grade B', 'Grade A'],
['20 Students','21 Students', '20 Students', '21 Students']]

In [40]:
'''Extract only Statistics '''

print(Courses[0][1])

Statistics

In [41]:
'''Extract Mathematics and Political Science'''

print(Courses[0][2:])

['Mathematics', 'Political Science']

In [42]:
'''Extract all Students List'''

print(Courses[2])

['20 Students', '21 Students', '20 Students', '21 Students']

In [45]:
'''Extract All Subjects and All Grade Lists'''

print(Courses[0::2])

[['Economics', 'Statistics', 'Mathematics', 'Political Science'], ['20 Students', '21 Students', '20 Students', '21 Students']]