# Pandas

### Panda load the data in python and converts its into dataframe

In [1]:
import pandas as pd
import numpy as np

In [4]:
# create dataframe
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['R1','R2','R3','R4','R5'],columns=['col1','col2','col3','col4'])

In [5]:
df

    col1  col2  col3  col4
R1     0     1     2     3
R2     4     5     6     7
R3     8     9    10    11
R4    12    13    14    15
R5    16    17    18    19

In [6]:
## convert df to csv file
#df.to_csv('Test_1')

In [15]:
df.loc['R1']  #Only us eto extract row

col1    0
col2    1
col3    2
col4    3
Name: R1, dtype: int32

In [16]:
type(df.loc['R1']) #Its a seriers.... A singal row or column is a series

pandas.core.series.Series

In [20]:
df.iloc[:2,:2]

    col1  col2
R1     0     1
R2     4     5

In [25]:
df.iloc[1:2,1:2]

    col2
R2     5

In [26]:
type(df.iloc[1:2,1:2]) #When we have both row and column is a dataframe (df)

pandas.core.frame.DataFrame

In [31]:
type(df.iloc[0:2,0]) # its a series

pandas.core.series.Series

### Convert df into arrays

In [35]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [36]:
df.iloc[:,:].shape

(5, 4)

### Check null values

In [39]:
df.isnull()

     col1   col2   col3   col4
R1  False  False  False  False
R2  False  False  False  False
R3  False  False  False  False
R4  False  False  False  False
R5  False  False  False  False

In [40]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

## Check unique value of a col

In [44]:
df['col1'].value_counts()  # shows count of each values

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [46]:
df['col1'].unique()   ## Shows only unique values

array([ 0,  4,  8, 12, 16])

In [1]:
import pandas as pd
import numpy as np

In [8]:
from io import StringIO, BytesIO

In [14]:
data=('a,b,c,d\n'
     '1,2,3,4\n'
     '4,5,6,7\n'
     '7,8,9,10')

In [15]:
pd.read_csv(StringIO(data))

   a  b  c   d
0  1  2  3   4
1  4  5  6   7
2  7  8  9  10

In [18]:
data=('index,a,b,c\n'
     '1,2,3,4\n'
     '4,5,6,7\n'
     '7,8,9,10')

In [19]:
pd.read_csv(StringIO(data),index_col=0)

       a  b   c
index
1      2  3   4
4      5  6   7
7      8  9  10

In [23]:
df1 = pd.DataFrame((np.arange(20).reshape(5,4)),columns=['col1','col2','col3','col4'])

In [24]:
df1

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15
4    16    17    18    19

In [27]:
df1.to_csv('Test1')  ## save as csv file

In [41]:
a = pd.read_csv(('Test1'),index_col=0)
a

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15
4    16    17    18    19

In [42]:
pd.read_csv('Test1')

   Unnamed: 0  col1  col2  col3  col4
0           0     0     1     2     3
1           1     4     5     6     7
2           2     8     9    10    11
3           3    12    13    14    15
4           4    16    17    18    19

## Read HTML content

In [53]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list.html'

In [46]:
url1 = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

In [54]:
dfs = pd.read_html(url)

HTTPError: HTTP Error 404: Not Found